<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.dingday.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.dingday.app.TaskListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dingday.app.TaskDetailActivity"
            android:label="@string/title_task_detail"
            android:parentActivityName="eu.dingday.app.TaskListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.dingday.app.TaskListActivity" />
        </activity>

        <activity
            android:name="eu.dingday.app.NewTaskActivity"
            android:parentActivityName="eu.dingday.app.TaskListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.dingday.app.TaskListActivity" />
        </activity>

        <provider
            android:name="eu.dingday.app.model.TasksContentProvider"
            android:authorities="eu.dingday.app"
            android:exported="false" />
    </application>

</manifest>
